
    <header>
        <div class="navigationnn">
            <div class="row justify-content-between">
                    <div class="navbar">
                        <div class="col-sm-3 col-md-3 col-xl-3">
                            <img src="images/logo.png" class="logo">
                        </div>
                        <div class="col-sm-6 col-md-6 col-xl-9">
                            <ul>
                            <li><a href="/">HOME</a></li>
                            <li><a href="/workout">WORKOUT</a></li>
                            <li><a href="/equipment">EQUIPMENT</a></li>
                            <li><a href="/contact">CONTACT</a></li>
                            </ul>
                        </div>
                        
                    </div>
            </div>
        </div>
        
        
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3"> </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 ">

                    <div class="contact">
                            <div class="content1">
                                <div class="titleh1">
                                    <h1>Contact us</h1>
                                </div>
                                <div class="form">
                                    <form action="#" id="loginForm">
                                        <input type="text" name="userFullName" id="fullname" class="form-control" placeholder="Enter your Full Name...">
                                        <input type="email" name="userEmail" id="Email" class="form-control" placeholder="Enter your Email..." style="margin-top: 5px;">
                                        <input type="subject" name="userSubject" id="subject" class="form-control" placeholder="Enter Subject..." style="margin-top: 15px;">
                                        <textarea  name="userContext" id="context" class="form-control box" placeholder="Enter your problem..." style="margin-top:5px; height:200px;"></textarea>
                                        <button onclick="submitForm()">Submit</button>
                                    </form>
                                </div>
                                
                            </div>
                    </div>

                </div>
            </div>
           
        </div>


    </main>