<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="navigationnn">
            <div class="row justify-content-between">
                    <div class="navbar">
                        <div class="col-sm-3 col-md-3 col-xl-3">
                            <img src="images/logo.png" class="logo">
                        </div>
                        <div class="col-sm-6 col-md-6 col-xl-9">
                            <ul>
                            <li><a href="/">HOME</a></li>
                            <li><a href="/workout">WORKOUT</a></li>
                            <li><a href="/equipment">EQUIPMENT</a></li>
                            <li><a href="/contact">CONTACT</a></li>
                            </ul>
                        </div>
                        
                    </div>
            </div>
        </div>
        
        
    </header>
    
</body>
</html>